<%= turbo_frame_tag task do %>
  <li class="list-group-item">
    <div class="d-flex alig-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <%= check_box_tag "task-#{task.id}-checkbox",
                          task.completed,
                          task.completed,
                          { data: { reflex: 'change->Tasks#toggle', task_id: task.id }, class: "form-check-input" } %>
        <p class="m-0 ms-2 <%= task.completed ? "text-decoration-line-through" : "" %>">
          <%= task.description %>
        </p>
      </div>
      <div>
        <%= button_to "Destroy", project_task_path(project, task), method: :delete, class: "btn btn-danger btn-sm" %>
      </div>
    </div>
  </li>
<% end %>
