<div id="project-<%= project.id %>-counts" class="mb-3">
  <p class="text-muted m-0">
    <%= project.percent_complete %>% complete (<%= project.completed_items %>/<%= project.tasks_count %>)
  </p>
  <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: <%= project.percent_complete %>%" aria-valuenow="<%= project.percent_complete %>" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
