<div>
  <div class="d-flex align-items-center justify-content-between mb-3">
    <%= turbo_frame_tag :project_name do %>
      <%= link_to edit_project_path(@project) do %>
        <h1><%= @project.name %></h1>
      <% end %>
    <% end %>
    <%= link_to "New task", new_project_task_path(@project),
                            class: "btn btn-secondary",
                            data: { turbo_frame: "new_task_form" } %>
  </div>

  <%= turbo_frame_tag "new_task_form" %>

  <% if @project.tasks.any? %>
    <ul id="project-<%= @project.id %>-tasks" class="list-group">
      <% @project.tasks.each do |task| %>
        <%= render partial: 'tasks/task', locals: { project: @project, task: task } %>
      <% end %>
    </div>
  <% else %>
    <div class="alert alert-dark">
      <h3>No Tasks</h3>
    </div>
  <% end %>

  <div class="d-flex align-items-center justify-content-between mt-5">
    <%= link_to "Back to projects", projects_path %>

    <%= button_to "Destroy this project", @project, method: :delete, class: "btn btn-danger", data: { turbo_confirm: 'Are you sure?' } %>
  </div>
</div>
